<app-layout [title]="'List Expenses'">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Date
        </th>
        <th scope="col" class="px-6 py-3">
          User ID
        </th>
        <th scope="col" class="px-6 py-3">
          Food and Home Utilities
        </th>
        <th scope="col" class="px-6 py-3">
          Personal Expense
        </th>
        <th scope="col" class="px-6 py-3">
          Snacks Expense
        </th>
        <th scope="col" class="px-6 py-3">
          Items
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let expense of expenses;" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4">
          {{ expense?.date }}
        </td>
        <td class="px-6 py-4">
          {{ expense._id }}
        </td>
        <td class="px-6 py-4">
          {{ expense?.foodAndHomeUtilities }}
        </td>
        <td class="px-6 py-4">
          {{ expense?.personalExpense }}
        </td>
        <td class="px-6 py-4">
          {{ expense?.snacksExpense }}
        </td>
        <td class="px-6 py-4">
          {{ expense?.items }}
        </td>
        <td class="px-6 py-4 text-right">
          <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
        </td>
      </tr>
      <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</app-layout>
